NEXTAUTH_SECRET= "" # Generate a secret using `openssl rand -base64 32`
NEXTAUTH_URL= "http://localhost:3000" # The base URL of the site (e.g. http://localhost:3000)

DATABASE_URL="postgresql://user:password@host:port/database" # Replace with your actual database URL

JWT_SECRET = ""